{{> admin/header}}
{{> admin/topbar}}
{{> admin/sidebar}}

<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    {{> admin/breadcrumb}}


    <div class="row">
        <div class="col-12">
            <div class="card card-body">
                <h4 class="card-title">صفحه اصلی</h4>
                <h5 class="card-subtitle"> ویرایش پروفایل</h5>
                <form id="editProfile" class="row" method="post">
                    <input type="hidden" name="defaultPic" id="defaultPic">
                    <input type="hidden" name="user_id" value="{{user_id}}">
                    <div class="col-6">
                        <div id="profileAvatarWrapper" class="form-group">
                            
                                <label class="avatar-label">
                                    <a href="javascript:void(0)" class="clear-btn btn btn-danger" id="imageClear" title="Clear Image">x</a>
                                    تصویر پروفایل

                                </label>
                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type='file' id="imageUpload" name="avatar" accept=".png, .jpg, .jpeg" />
                                        <label for="imageUpload"></label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreview" style="background-image: url('{{image_path}}');">
                                        </div>
                                    </div>
                                </div>

                            
                        </div>
                        <div class="form-group">
                            <label for="fname">نام </label>
                            <input name="fname" id="fname" type="text" class="form-control" placeholder="مهدی" value="{{fname}}">
                        </div>
                        <div class="form-group">
                            <label for="lname"> نام خانوادگی</label>
                            <input name="lname" id="lname" type="text" class="form-control" placeholder="گندمی" value="{{lname}}">
                        </div>
                        <div class="form-group">
                            <label for="phone"> شماره همراه</label>
                            <input name="phone" id="phone" type="number" class="form-control"  value="{{phone}}">
                        </div>
                        <div class="form-group">
                            <label for="address"> آدرس</label>
                            <textarea class="form-control" name="address" id="address" cols="30" rows="5">{{address}}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="job">حرفه و فیلد کاری</label>
                            <input type="text" id="job" name="job" class="form-control" placeholder="حرفه" value="{{job}}">
                        </div>
                    </div>
                    <div class="col-6">
                        <h4 class="text-center social-icons-title">لینک شبکه های اجتماعی</h4>
                        <div class="form-group">
                            <label for="email">ایمیل</label>
                            <input name="email" id="email" type="email" class="form-control" placeholder="" value="{{email}}">
                        </div>
                        <div class="form-group">
                            <label for="twitter">توئیتر</label>
                            <input name="twitter" id="twitter" type="text" class="form-control" placeholder="" value="{{twitter}}">
                        </div>
                        <div class="form-group">
                            <label for="pinterest">پینترست</label>
                            <input name="pinterest" id="pinterest" type="text" class="form-control" placeholder="" value="{{pinterest}}">
                        </div>
                        <div class="form-group">
                            <label for="profile">پروفایل</label>
                            <input name="profile" id="profile" type="text" class="form-control" placeholder="" value="{{profile}}">
                        </div>
                        <div class="form-group">
                            <label for="instagram">اینستاگرام</label>
                            <input name="instagram" id="instagram" type="text" class="form-control" placeholder="" value="{{instagram}}">
                        </div>
                        <div class="form-group">
                            <label for="telegram">تلگرام</label>
                            <input type="text" id="telegram" name="telegram" class="form-control" placeholder="" value="{{telegram}}">
                        </div>
                        <div class="form-group">
                            <label for="github">گیتهاب</label>
                            <input type="text" id="github" name="github" class="form-control" placeholder="" value="{{github}}">
                        </div>
                        <div class="form-group">
                            <label for="linkedin">لینکداین</label>
                            <input type="text" id="linkedin" name="linkedin" class="form-control" placeholder="" value="{{linkedin}}">
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" value="ذخیره" class="btn btn-success mt-3">
                        </div>
                    </div>
                </form>
            </div>
        </div>  
    </div>


<!--****************************************end of page-wrapper-->
</div>
<!--****************************************end of page-wrapper-->

<!--file_upload-->
<!--<script src="public/js/admin/file-upload-with-preview.min.js"></script>-->
<script src="public/js/admin/avatar-upload.js"></script>
<script>
    //First upload
    var clearBtn=document.querySelector(".custom-file-container__image-clear");
    var defaultPic=document.querySelector("#defaultPic");
    clearBtn.addEventListener("click",function () {
        defaultPic.value="yes";
    });

</script>
<script src="public/js/iziToast.min.js"></script>
<script src="public/js/admin/edit-profile.js"></script>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
{{> admin/footer}}