{{> admin/header}}
{{> admin/topbar}}
{{> admin/sidebar}}

<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper" id="projects-page">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    {{> admin/breadcrumb}}
    <div class="card card-body">
        <h4 class="card-title">فرم اضافه کردن پروژه</h4>
        <form id="newProject" class="row" method="post">
            <input type="hidden" name="defaultPic" id="defaultPic">

            <div class="col-md-6 col-sm-12">
                <div id="profileAvatarWrapper" class="form-group">
                    <div class="custom-file-container" data-upload-id="profilePic">
                        <label class="custom_file_label">
                            <a href="javascript:void(0)" class="custom-file-container__image-clear btn btn-danger" id="imageClear" title="Clear Image">x</a>
                            تصویر پروژه

                        </label>
                        <label class="custom-file-container__custom-file" >
                            <input type="file" class="custom-file-container__custom-file__custom-file-input"  accept="image/*" name="project_image">
                            <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                            <span style="visibility: hidden" class="custom-file-container__custom-file__custom-file-control"></span>
                            <div class="custom-file-container__image-preview" ></div>
                        </label>

                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-7">
                        <label for="project_title">عنوان پروژه </label>
                        <input name="project_title" id="project_title" type="text" class="form-control" >
                    </div>
                    <div class="form-group col-5">
                        <label for="cat_id">دسته بندی </label>
                        <select name="cat_ids[]" id="cat_id"  class="form-control" multiple >
                            {{#project_categories}}
                                <option value="{{id}}">{{cat_title}}</option>
                            {{/project_categories}}
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-7">
                        <label for="location">محل</label>
                        <input type="text" name="location" id="location"  class="form-control"  >

                    </div>
                    <div class="form-group col-5">
                        <label for="skill_ids"> مهارت های مورد استفاده</label>
                        <select name="skill_ids[]" id="skill_ids"  class="form-control" multiple>
                            {{#skill_categories}}
                            <option value="{{skill_id}}">{{skill_title}}</option>
                            {{/skill_categories}}
                        </select>
                    </div>

                </div>



            </div>
            <div class="col-md-6 col-sm-12">


                <div class="form-group">
                    <label for="project_link">لینک پروژه</label>
                    <input name="project_link" id="project_link" type="url" class="form-control"  >
                </div>

                <div class="form-group">
                    <label for="project_description">توضیحات پروژه</label>
                    <textarea class="form-control" name="project_description" id="project_description" cols="30" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <p>
                        <label for="upload_imgs" class="btn btn-primary">تصاویر گالری </label>
                        <input style="visibility: hidden" type="file" id="upload_imgs" name="gallery-images[]" multiple/>
                    </p>
                    <div class="quote-imgs-thumbs " id="img_preview" aria-live="polite"></div>

                </div>
                <div class="form-group">
                    <input type="submit" value="ثبت" class="btn btn-success" >
                </div>
            </div>
        </form>
    </div>
    <div class="row">

        <div class="col-12">
            <div class="card card-body">
                <h4 class="card-title">صفحه پروژه ها</h4>
                <h5 class="card-subtitle"> ویرایش و اضافه کردن پروژه</h5>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">تصویر پروژه</th>
                                <th scope="col">نام پروژه</th>
                                <th scope="col">دسته بندی پروژه</th>
                                <th scope="col">لینک پروژه</th>
                                <th scope="col">عملیات</th>
                            </tr>
                        </thead>
                        <tbody id="projects-wrapper">
                            {{#projects}}
                                <tr>
                                    <td><img class="img-circle" src="public/images/projects/{{project_image}}" alt=""></td>
                                    <td>{{project_title}}</td>
                                    <td>{{project_skills}}</td>
                                    <td><a href="{{project_link}}">{{project_link}}</a></td>
                                    <td>
                                        <a href="dashboard/project/edit/{{id}}" class="btn btn-primary">ویرایش پروژه</a>
                                        <a onclick="deleteProject('{{id}}')" class="btn btn-danger text-white">حذف پروژه</a>
                                    </td>
                                </tr>
                            {{/projects}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">

            <ul class="pagination" id="projects-pagination">
                {{^firstPage}}
                <li class="page-item">
                    <a class="page-link" href="{{prevUrl}}">
                        &laquo;
                    </a>
                </li>
                {{/firstPage}}
                {{#pages}}

                {{^active}}
                <li class="page-item">
                    <a class="page-link" href="{{url}}">{{title}}</a>
                </li>
                {{/active}}
                {{#active}}
                <li class="active page-item">
                    <a class="page-link" href="{{url}}">{{title}}</a>
                </li>
                {{/active}}
                {{/pages}}
                {{^lastPage}}
                <li class="page-item">
                    <a class="page-link" href="{{nextUrl}}">
                        &raquo;
                    </a>
                </li>
                {{/lastPage}}
            </ul>

        </nav>
    </div>


</div>

<script src="public/js/admin/file-upload-with-preview.min.js"></script>
<script src="public/js/iziToast.min.js"></script>
<script>
    var base_url=window.location.origin+"/coderguy";
    //First upload
    var firstUpload = new FileUploadWithPreview('profilePic');
    var clearBtn=document.querySelector(".custom-file-container__image-clear");
    var defaultPic=document.querySelector("#defaultPic");
    clearBtn.addEventListener("click",function () {
        defaultPic.value="yes";
    });
    function showProjectsPagination(paginationData, el) {
        console.log(paginationData);
        let output="";
        if (!paginationData.is_first_page){
            output+=`
                    <li class="page-item">
                        <a class="page-link" href="${paginationData.prevUrl}">
                            &laquo;
                        </a>
                    </li>
            `;
            console.log(paginationData.is_first_page);
        }
        if (paginationData['pages']){
            let pages=paginationData['pages'];
            Object.keys(pages).map(function(key, index){
                if(pages[key].active){
                    output+=`
                    <li class="page-item active">
                        <a class="page-link" href="${pages[key].url}">${pages[key].title}</a>
                    </li>
                `;
                }else {
                    output+=`
                    <li class="page-item">
                        <a class="page-link" href="${pages[key].url}">${pages[key].title}</a>
                    </li>
                `;
                }
            });


        }
        if (!paginationData.is_last_page){
            console.log(paginationData.is_last_page);
            output+=`
                    <li class="page-item">
                        <a class="page-link" href="${paginationData.nextUrl}">
                            &raquo;
                        </a>
                    </li>
            `;
        }
        el.html(output);
    }
    function deleteProject(project_id) {
        if (confirm("واقعا می خوای این پروژه رو پاک کنی؟")){
            $.ajax({
                url: base_url+"/dashboard/project/delete/"+project_id,
                type: 'DELETE',
                beforeSend: function (e) {

                },
                success: function (data) {
                    console.log(data);
                    data = JSON.parse(data);
                    if (data.status=='ok'){
                        iziToast.success({
                            message: 'اطلاعات با موفقیت ثبت شد!',
                        });
                        getAllProjects();
                    }else {
                        iziToast.error({

                            message: 'در ثبت اطلاعات خطایی رخ داد',
                        });
                    }

                }
            });
        }
        else {
            iziToast.warning({

                message: 'صرفنظر شد!',
            });

        }
    }
    function showProjects(data,el) {
        var output="";
        for (project of data){
            output+="<tr>";
                if(project.project_image){
                    output+=`<td><img class="img-circle" src='public/images/projects/${project.project_image}' alt=''></td>`;
                }else {
                    output+=`<td><img class="img-circle" src=http://localhost/picfaker/?width=150&height=150' alt=''></td>`;
                }
                output+=`<td>${project.project_title}</td>`;
                output+=`<td>${project.project_skills}</td>`;
                output+=`<td>${project.project_link}</td>`;
                output+=`<td><a style="margin: 0 5px;" href="dashboard/project/edit/${project.id}" class="btn btn-primary">ویرایش پروژه</a><a onclick="deleteProject('${project.id}')" class="btn btn-danger text-white">حذف پروژه</a></td>`;

            output+="</tr>";
        }
        el.html(output);
    }
    function getAllProjects() {
        let urlArr=window.location.pathname.split("/");
        let urlToGo=base_url+"/dashboard/project/all-json";
        if (urlArr[4]){
            urlToGo=base_url+"/dashboard/project/all-json?page="+urlArr[4];
        }else {
            urlToGo=base_url+"/dashboard/project/all-json";
        }
        $.get(urlToGo,function (data) {
           data=JSON.parse(data);
           showProjects(data.projects,$("#projects-wrapper"));
           showProjectsPagination(data.pagination,$("#projects-pagination"))
        });
    }
    //form submit

    var newProjectForm=$("#newProject");
    newProjectForm.on("submit",function (e) {
        e.preventDefault();
        var formData=new FormData($(this)[0]);
        $.ajax({
            url: base_url+"/dashboard/project/new",
            type: 'POST',
            data: formData,
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,
            // mimeType: "multipart/form-data",
            beforeSend: function (e) {

            },
            success: function (data) {
                console.log(data);
                data = JSON.parse(data);
                if (data.status=='ok'){
                    iziToast.success({
                        message: 'اطلاعات با موفقیت ثبت شد!',
                    });
                    getAllProjects();
                }else {
                    iziToast.error({

                        message: 'در ثبت اطلاعات خطایی رخ داد',
                    });
                }

            }
        });

    });
</script>
<script src="public/js/admin/file-upload.js"></script>
{{> admin/footer}}