.toolbar .dir-operations i {
  font-size: 1.2rem
}

.newFolderForm {
  display: none;
  top: 55px;
  right: 60.8359px;
  padding: 1rem;
  text-align: right;
  direction: rtl
}

.newFolderForm.show {
  display: block;
  -webkit-animation: swing-in-top-bck .6s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-bck .6s cubic-bezier(0.175, 0.885, 0.32, 1.275) both
}

.newFolderForm .arrow {
  top: -28px;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 25px 25px;
  border-color: transparent transparent #fff8f8 transparent
}

.directory-wrapper form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 2rem
}

.folder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.folder a {
  text-decoration: none;
  transition: all .2s ease-out;
}

.folder a img {
  transition: all .2s ease-out
}

.folder a:hover {
  transform: scale(1.2) !important
}

.folder a:hover i {
  color: #5aa1c7
}

.folder i {
  font-size: 4rem;
  color: #74c7f5
}

.file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.file a {
  text-decoration: none;
  transition: all .2s ease-out
}

.file a:hover img {
  filter: brightness(70%) !important
}

.file .image-file {
  height: 90px;
  margin-bottom: .5rem
}

@-webkit-keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1
  }
}

@keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1
  }
}

.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px
}

.control {
  display: block;
  position: relative;
  padding-left: 23px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 13px
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 17px;
  width: 17px;
  background: #e6e6e6
}

.control--radio .control__indicator {
  border-radius: 50%
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc
}

.control input:checked ~ .control__indicator {
  background: #2aa1c0
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d
}

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: .6;
  pointer-events: none
}

.control__indicator:after {
  content: "";
  position: absolute;
  display: none
}

.control input:checked ~ .control__indicator:after {
  display: block
}

.control--checkbox .control__indicator:after {
  left: 7px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg)
}

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b
}

.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff
}

.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%
}

.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none
}

.select select::-ms-expand {
  display: none
}

.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc
}

.select select:disabled {
  opacity: .5;
  pointer-events: none
}

.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent
}

.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000
}

.select select:disabled ~ .select__arrow {
  border-top-color: #ccc
}


/*# sourceMappingURL=main.min.css.map */