@charset "UTF-8";

@font-face {
  font-family: "custom-font";
  src:url("fonts/custom-font.eot");
  src:url("fonts/custom-font.eot?#iefix") format("embedded-opentype"),
  url("fonts/custom-font.woff") format("woff"),
  url("fonts/custom-font.ttf") format("truetype"),
  url("fonts/custom-font.svg#custom-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "custom-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="i-"]:before,
[class*=" i-"]:before {
  font-family: "custom-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-tachometer:before {
  content: "\61";
}
.i-user:before {
  content: "\62";
}
.i-clone:before {
  content: "\63";
}
.i-page-multiple:before {
  content: "\64";
}
.i-file-text-o:before {
  content: "\65";
}
.i-file-text:before {
  content: "\66";
}
.i-angle-right:before {
  content: "\67";
}
.i-angle-left:before {
  content: "\68";
}
.i-angle-down:before {
  content: "\69";
}
.i-angle-up:before {
  content: "\6a";
}
.i-trash:before {
  content: "\6b";
}
.i-trash-1:before {
  content: "\6c";
}
.i-pencil-square-o:before {
  content: "\6d";
}
.i-pencil:before {
  content: "\6e";
}
.i-clipboard-pencil:before {
  content: "\6f";
}
.i-briefcase:before {
  content: "\70";
}
.i-envelope:before {
  content: "\71";
}
.i-reply:before {
  content: "\72";
}
.i-reply-all:before {
  content: "\73";
}
.i-share:before {
  content: "\74";
}
.i-times:before {
  content: "\75";
}
.i-cancel:before {
  content: "\76";
}
.i-refresh:before {
  content: "\77";
}
.i-cw:before {
  content: "\78";
}
.i-level-up:before {
  content: "\79";
}
.i-level-up-1:before {
  content: "\7a";
}
.i-upload-cloud:before {
  content: "\41";
}
.i-upload:before {
  content: "\42";
}
.i-upload-1:before {
  content: "\43";
}
.i-folder:before {
  content: "\44";
}
.i-folder-open:before {
  content: "\45";
}
.i-folder-1:before {
  content: "\46";
}
.i-folder-add:before {
  content: "\47";
}
.i-folder-2:before {
  content: "\48";
}
.i-folder-add-1:before {
  content: "\49";
}
.i-search:before {
  content: "\4a";
}
.i-plus-circle:before {
  content: "\4b";
}
.i-plus-square:before {
  content: "\4c";
}
