//$width:5;
//.skills {
//  width: 100%;
//  position: relative;
//  float: right;
//  padding: 30px 0;
//}
//h2 {
//  font-size: 24px;
//  margin-bottom: 25px;
//}
//ul {
//  padding-top: 50px;
//}
//ul > li {
//  margin-bottom: 70px;
//  background: #000;
//  height: 5px;
//  border-radius: 3px;
//  border-left: 1px solid #111;
//  border-top: 1px solid #111;
//  border-right: 1px solid #333;
//  border-bottom: 1px solid #333;
//}
//ul > li em {
//  font-size: 18px;
//  position: relative;
//  top: -30px;
//}
//ul > li span {
//  height: 1px;
//  margin: 2px 0;
//  background: #2187e7;
//  position: absolute;
//  box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.4);
//}
//@while $width <= 100{
//  .w-#{$width}{
//    width: unquote($width+'%');
//  }
//  .animate-#{$width}{
//    animation: width-#{$width} 2s ease-out;
//  }
//  @keyframes width-#{$width} {
//    0% {
//      width: 0px;
//    }
//    100% {
//      width: unquote($width+'%');
//    }
//  }
//  $width:$width+5;
//}

/* Div for skillset section */

.skills-wrapper{
  h1{
    grid-column: 1/3;
    text-align: center;
  }
  border: 4.5px solid lighten($secondary-color,20);
  border-radius: 20px;
  padding: 1em 0;
  margin: 4em auto;
  max-width: 100%;
  background:lighten($primary-color,7);

  ul {
    padding-left: 0;
    color: set_text_color($primary-color);
    text-align: right;
    margin-right: 2em;
    list-style-type: none;
    li {
      display: flex;
      width: 90%;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      align-items: center;
      //letter-spacing: .2em;

      span{
        width: 30%;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: lighter;
        padding: 0;
      }
      .box {
        height: 0.2em;
        width: 70%;
        border: .1em solid #2D2D2D;
        border-radius: 3px;
        display: inline-block;
        text-align: center;
        border-radius: 10px;
        div{
          height: 0.2em;border-radius: 10px;
        }
      }
    }

  }


  /* Containers for skill levels */




}

.skills h1 {
  font-size: 2em;
  color: set_text_color($primary-color);
  text-align: center;
  font-weight: lighter;
  display: block;
  padding: .5em 0 1em 0;
}


/* Skill list items */



//.animate {
//  animation: grow 1.4s .3s cubic-bezier(0.39, 0.07, 0.16, 0.97);
//}

[data-aos="grow"] {
  width: 0;
  &.aos-animate{
    div{
      animation: grow 1.4s .3s cubic-bezier(0.39, 0.07, 0.16, 0.97);
    }
  }

}
/* Keyframe */

@keyframes grow {
  0% {

    width: 0;
  }
  100% {
    transform: 100%;
  }
}