<!DOCTYPE html>
<html lang="en">

<head>
    <base href="{{base_url}}/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>

    <!-- css imports -->
    <link rel="stylesheet" href="public/css/main.light.min.css" id="main-style">

    <!-- js stuff -->
    <script src="public/js/dom-creator.js"></script>
    <script src="public/js/js.cookie.min.js"></script>

</head>

<body class="animated fadeIn">
