<!DOCTYPE html>
<html lang="en">

<head>
    <base href="{{base_url}}/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>

    <!-- css imports -->

    <link rel="stylesheet" href="public/css/main.min.css">

    <script>
        var head=document.querySelector("head");
        if(CSS.supports("display: grid")){
            console.log("fuck");
            let link  = document.createElement('link');
            link.rel  = 'stylesheet';
            link.type = 'text/css';
            link.href = 'public/css/main.min.css';
            link.setAttribute("data-css-polyfilled","true");
            head.appendChild(link);
        }
    </script>

</head>

<body class="animated fadeIn">