<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <base href="{{base_url}}/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>

    <!-- css imports -->
     <link rel="stylesheet" id="main-style" href="public/css/main.light.min.css" >


     <!-- js stuff -->
     <script src="public/js/dom-creator.js"></script>
    <script src="public/js/js.cookie.min.js"></script>
    
</head>

<body id="bg-img" class="animated fadeIn">