<header class="main-header">
    <div class="menu-btn">
        <div class="bar-line"></div>
        <div class="bar-line"></div>
        <div class="bar-line"></div>
    </div>
    <nav class="menu">
        <div class="menu-brand">
            <div class="avatar" style="background-image: url('{{image_path}}')"></div>
        </div>
        <ul class="navbar">
            <li class="nav-item " id="home">
                <a href="" class="nav-link ">
                    صفحه اصلی
                </a>

            </li>
            <li class="nav-item" id="about-me">
                <a href="about-me" class="nav-link" >
                    درباره من
                </a>

            </li>
            <li class="nav-item" id="my-portfolio">
                <a href="my-portfolio" class="nav-link">
                    نمونه کارهای من
                </a>

            </li>
            <li class="nav-item" id="contact-me">
                <a href="contact-me" class="nav-link">
                    تماس با من
                </a>

            </li>
            <li class="nav-item" id="blog-page">
                <a href="blog-page" class="nav-link">
                   وبلاگ من
                </a>

            </li>

        </ul>
    </nav>
</header>