
.about-info{
    display:grid;
    grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns:repeat(3,1fr);
    grid-gap:30px;


    .bio-image{
        grid-area:bioimage;
        margin:auto;
        border-radius:50%;
        border:$secondary-color 3px solid;
    }
    .bio{
    grid-area:bio;
    font-size:1.5rem;
    }
    @for $i from 1 through 3{
      .job-#{$i}{
        grid-area: job#{$i};
        
      }
    }
    .job{
        // background:lighten($primary-color,5);
        background: $job-bgcolor;
        padding:0.5rem;
        border-bottom:$secondary-color 5px solid;
    }



}
#main-footer{
text-align:center;
padding:1rem;
background:darken($primary-color,10);
color:set_text_color($primary-color);
height:60px;
}
.skills-wrapper{
    display:grid;
        grid-template-columns:1fr 1fr;
        grid-column-gap: 30px;
    background: $skills-bgcolor;
}
