{{> header}}
{{> menu}}


<main id="about-page">
    <h1 class="lg-heading" data-aos="slide-left" data-aos-delay="0" data-aos-duration="900">
        درباره
        <span class="text-secondary">من</span>
    </h1>
    <h2 class="sm-heading" data-aos="flip-down" data-aos-delay="300" data-aos-duration="1100">
        بذار یه چیزایی درباره خودم بگم
    </h2>
    <div class="about-info">
        <img data-aos="zoom-in"  data-aos-delay="300" data-aos-duration="1500" class="bio-image" src="{{image_path}}" alt="">
        <div class="bio" data-aos="fade" data-aos-delay="300" data-aos-duration="2000">
            <h3 class="text-secondary">شرح حال مختصر از من</h3>
            <p>{{bio}}</p>
        </div>
        {{#jobFields}}
            <div class="job job-$" data-aos="flip-down" data-aos-duration="1000">
                <h3>{{title}}</h3>
                <h6>{{subtitle}}</h6>
                <p>{{content}}</p>
            </div>
        {{/jobFields}}

    </div>
    <div class="skills-wrapper">
        <h1>مهارت های من</h1>
        <div class="skills">

            <ul>
                {{#skills1}}
                <li>
                    <span>{{skill_title}}</span>
                    <div class="box" data-aos="grow"   data-aos-offset="100">
                        <div  style="background-color:{{color}};width:{{skill_value}}%" class="w-{{skill_value}}"></div>
                    </div>
                </li>

                {{/skills1}}

            </ul>
        </div>
        <div class="skills">

            <ul>
                {{#skills2}}
                <li>
                    <span>{{skill_title}}</span>
                    <div class="box" data-aos="grow"   data-aos-offset="100">
                        <div  style="background-color:{{color}};width:{{skill_value}}%" class="w-{{skill_value}}"></div>
                    </div>
                </li>

                {{/skills2}}

            </ul>
        </div>
    </div>
</main>
<script src="public/js/aos.js"></script>
<script type="text/javascript">
    AOS.init({
        delay: 0,
        once:false,
        anchorPlacement:"right",
        easing:"ease-out"
    });
//    var skills=document.querySelectorAll(".skills ul .box div");
//    window.addEventListener("scroll",function () {
//        if (window.scrollY>400) {
//            for (skill of skills) {
//                skill.classList.add("animate");
//            }
//        }
//
//    });

</script>
<footer id="main-footer">
    Copyright &copy; 2018
</footer>

{{> footer}}