{{> home_header}}
{{> menu}}
<main id="home-page">
    <h1 class="lg-heading">
                {{fname}}
        <span class="text-secondary">{{lname}}</span>
    </h1>
    <h2 class="sm-heading">{{job}}</h2>
   <div class="icons">
       <a class="demo-icon icon-instagram icon-2x" href="{{instagram}}" target="_blank">
           <span>Instagram</span>
       </a>
       <a class="demo-icon icon-telegram icon-2x" href="{{telegram}}" target="_blank">
           <span>Telegram</span>
       </a>
       <a href="{{github}}" class="demo-icon icon-github-circled icon-2x" target="_blank">
           <span>Github</span>
       </a>
       <a class="demo-icon icon-linkedin-squared icon-2x" href="{{linkedin}}" target="_blank">
           <span>Linkedin</span>
       </a>
       <a class="demo-icon icon-pinterest-circled icon-2x" href="{{pinterest}}" target="_blank">
           <span>Pinterest</span>
       </a>
       <a class="demo-icon icon-twitter icon-2x" href="{{twitter}}" target="_blank">
           <span>Twitter</span>
       </a>
       <a class="demo-icon icon-user icon-2x" href="{{profile}}" target="_blank">
           <span>Profile</span>
       </a>
   </div>
</main>

{{> footer}}