{{> home_header}}
{{> menu}}
<main id="home-page">
    <h1 class="lg-heading">
                {{fname}}
        <span class="text-secondary">{{lname}}</span>
    </h1>
    <h2 class="sm-heading">{{job}}</h2>
    
   <div class="icons">
       <a class="demo-icon icon-instagram icon-2x" href="{{instagram}}" target="_blank">
           <span>Instagram</span>
       </a>
       <a class="demo-icon icon-telegram icon-2x" href="{{telegram}}" target="_blank">
           <span>Telegram</span>
       </a>
       <a href="{{github}}" class="demo-icon icon-github icon-2x" target="_blank">
           <span>Github</span>
       </a>
       <a class="demo-icon icon-linkedin icon-2x" href="{{linkedin}}" target="_blank">
           <span>Linkedin</span>
       </a>
       <a class="demo-icon icon-pinterest icon-2x" href="{{pinterest}}" target="_blank">
           <span>Pinterest</span>
       </a>
       <a class="demo-icon icon-twitter icon-2x" href="{{twitter}}" target="_blank">
           <span>Twitter</span>
       </a>
       <a class="demo-icon icon-user icon-2x" href="{{profile}}" target="_blank">
           <span>Profile</span>
       </a>
   </div>
</main>
<script src="public/js/iziToast.min.js"></script>
<script>
    iziToast.show({
        id: null,
        class: '',
        //title: 'توجه!',
        titleColor: '#fff',
        titleSize: '',
        titleLineHeight: '',
        message: `
            سلام به وبسایت من خوش آمدید!🙏
            <br>
            توجه داشته باشید که طراحی این وبسایت درحال پیشرفت می باشد و ممکن است بعضی از صفحات کار نکنند!

            `,
        messageColor: '',
        messageSize: '15',
        messageLineHeight: '',
        backgroundColor: '',
        theme: 'dark', // dark
        color: '', // blue, red, green, yellow
        icon: '',
        iconText: '',
        iconColor: '',
        iconUrl: null,
        image: '{{image_path}}',
        imageWidth: 70,
        maxWidth: null,
        zindex: null,
        layout: 1,
        balloon: false,
        close: true,
        closeOnEscape: false,
        closeOnClick: false,
        displayMode: 0, // once, replace
        position: 'topCenter', // bottomRight, bottomLeft, topRight, topLeft, topCenter, bottomCenter, center
        target: '',
        targetFirst: true,
        timeout: 10000,
        rtl: true,
        animateInside: true,
        drag: true,
        pauseOnHover: true,
        resetOnHover: false,
        progressBar: true,
        progressBarColor: '',
        progressBarEasing: 'ease',
        overlay: false,
        overlayClose: false,
        overlayColor: 'rgba(0, 0, 0, 0.6)',
        transitionIn: 'flipInX',
        transitionOut: 'flipOutX',
        transitionInMobile: 'fadeInUp',
        transitionOutMobile: 'fadeOutDown',
        buttons: {},
        inputs: {},
        onOpening: function () {},
        onOpened: function () {},
        onClosing: function () {},
        onClosed: function () {}
    });
</script>
{{> footer}}