<div class="modal fade" id="file-manager" tabindex="-1" role="dialog" aria-labelledby="file-managerLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="file-managerLabel">مدیریت فایل</h5>
    
                </div>
                <div class="modal-body">
                    <div class="row toolbar">
                        <div class="col-sm-5 dir-operations">
                            <a href="#" id="button-parent" class="btn btn-default hint--top" aria-label="پوشه قبلی"><i
                                    class="i-level-up"></i></a>
                            <a href="#" id="button-refresh" class="btn btn-default hint--top" aria-label="رفرش"><i
                                    class="i-refresh"></i></a>
                            <label for="img-upload" class="btn btn-primary hint--top m-0" aria-label="آپلود عکس">
                                <i class="i-upload"></i>
                                <input class="d-none" type="file" id="img-upload" name="images[]" multiple>
                            </label>
                            <button type="button" id="new-folder-btn" class="btn btn-success hint--top" aria-label="پوشه جدید"><i
                                    class="i-folder-add"></i></button>
                            <form class="popover newFolderForm" role="tooltip">
                                <div class="arrow"></div>
                                <h5>پوشه جدید</h3>
                                <div class="popover-content">
                                    <div class="input-group"> 
                                       
                                        <input type="text" name="folder" value="" placeholder="نام پوشه" class="form-control"> 
                                        <span class="input-group-btn">
                                                <button type="button" title="New Folder" id="folder-create-btn" class="btn btn-primary"><i class="i-plus-circle"></i></button>
                                        </span>
                                            
                                    </div>
                                </div>
                            </form>
                            <button type="button" id="button-delete" class="btn btn-danger hint--top" aria-label="حذف فایل"><i
                                    class="i-trash"></i></button>
                        </div>
                        <div class="col-sm-7">
                            <div class="input-group">
                                <input type="text" name="search" value="" placeholder="Search.." class="form-control">
                                <span class="input-group-btn">
                                    <button type="button" data-toggle="tooltip" title="" id="button-search" class="btn btn-primary"
                                        data-original-title="Search"><i class="i-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="directory-wrapper">
                        <form id="file-management-form">
                        <div class="sk-fading-circle">
                            <div class="sk-circle1 sk-circle"></div>
                            <div class="sk-circle2 sk-circle"></div>
                            <div class="sk-circle3 sk-circle"></div>
                            <div class="sk-circle4 sk-circle"></div>
                            <div class="sk-circle5 sk-circle"></div>
                            <div class="sk-circle6 sk-circle"></div>
                            <div class="sk-circle7 sk-circle"></div>
                            <div class="sk-circle8 sk-circle"></div>
                            <div class="sk-circle9 sk-circle"></div>
                            <div class="sk-circle10 sk-circle"></div>
                            <div class="sk-circle11 sk-circle"></div>
                            <div class="sk-circle12 sk-circle"></div>
                        </div>
                        </form>
                        
                    </div>



                </div>
               
            </div>
        </div>
</div>

<script>
        var base_url=document.querySelector("base").getAttribute("href");
    function listAllDirectories(route) {
        if(route===undefined){
            route="public/images/uploads";
        }
        $.get(base_url+"dashboard/file-manager",{"route":route},function (data) {
            $("#file-management-form").html(data);
        });    
        
    }
    $("#file-manager").on("show.bs.modal",function (e) {
        listAllDirectories();
    });
    
    $(document).on("click",".folder a",function (e) {
       e.preventDefault();
       let folderPath=e.currentTarget.getAttribute("href");
      listAllDirectories(folderPath);
    });
    $("#button-parent").click(function (e) {
        e.preventDefault();
        let curPath=$("#current-path").val();
        curPath=curPath.substring(0,curPath.lastIndexOf("/"));
        listAllDirectories(curPath);
    });
    $("#button-refresh").click(function (e) {
        e.preventDefault();
        let curPath=$("#current-path").val();
        $.get(base_url+"dashboard/file-manager",{"route":curPath},function (data) {
            $("#file-management-form").html(data);
        })
    });
    $("#folder-create-btn").click(function (e) {
        let folderName=$("input[name='folder']").val();
        let curPath=$("#current-path").val();
        $.ajax({
            url: base_url+"dashboard/file-manager",
            type: 'POST',
            data:{
                'folder':folderName,
                'current_path':curPath
            },
            beforeSend: function (e) {
    
            },
            success: function (data) {
                console.log(data);
                data = JSON.parse(data);
                if (data.status=='ok'){
                    iziToast.success({
                        message: 'پوشه با موفقیت ایجاد شد!',
                    });
                    $(".newFolderForm").removeClass("show");
                    listAllDirectories(curPath);
    
                }else {
                    iziToast.error({
    
                        message: 'در ایجاد پوشه خطایی رخ داد!',
                    });
                }
    
            }
        });
    });
    // deleteBtn=document.querySelector("#button-delete");
    $("#button-delete").on("click",function(){
        if(confirm("واقعا می خوای موارد انتخابی رو پاک کنی؟")){
            let curPath=$("#current-path").val();
            $.ajax({
                url: base_url+"dashboard/file-manager",
                type: 'DELETE',
                data:$("#file-management-form").serialize(),
                beforeSend: function (e) {
    
                },
                success: function (data) {
                    console.log(data);
                    data = JSON.parse(data);
                    if (data.status=='ok'){
                        iziToast.success({
                            message: 'موارد انتخابی با موفقیت حذف شدند!',
                        });
                        listAllDirectories(curPath);
                    }else {
                        iziToast.error({
    
                            message: ' خطایی رخ داد',
                        });
                    }
    
                }
            });     
        }else{
    
        }
    });
    
    $("#img-upload").on("change",function(e){
        let files = e.target.files;
        
        var data = new FormData();
        $.each(files, function(key, value)
        {
            data.append(key, value);
        });
        let curPath=$("#current-path").val();
        data.append("current_path",curPath);
    
        $.ajax({
            url: base_url+"dashboard/file-manager",
            type: 'POST',
            data: data,
            cache: false,
            dataType: 'json',
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
            success: function(data, textStatus, jqXHR)
            {
                console.log(data);
                if (data.status=='ok'){
                    iziToast.success({
                        message: 'اطلاعات با موفقیت ثبت شد!',
                    });
                    listAllDirectories(curPath);
                }else {
                    iziToast.error({
    
                        message: 'در ثبت اطلاعات خطایی رخ داد',
                    });
                }
    
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
                // Handle errors here
                console.log('ERRORS: ' + textStatus);
                // STOP LOADING SPINNER
            }
        });
    
    })
        
    $(document).on("click",".file a",function(e){
        e.preventDefault();
        thumbnail=e.currentTarget.getAttribute("href");
        $("#thumbnail_url").val(thumbnail);
        $(".thumbnail-preview").css("background-image","url('"+thumbnail+"')");
        $("#file-manager").modal("hide");
    });
    $("#new-folder-btn").on("click",function(e){
        $(".newFolderForm").toggleClass("show");
    });
</script>