
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->

<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="dashboard" aria-expanded="false">
                        <i class="icon i-tachometer"></i>
                        <span class="hide-menu">داشبورد</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="dashboard" aria-expanded="false">
                        <i class="icon i-tachometer"></i>
                        <span class="hide-menu">ویرایش پروفایل</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="dashboard/about-me" aria-expanded="false">
                        <i class="icon i-user"></i>
                        <span class="hide-menu">صفحه درباره من</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="dashboard/project" aria-expanded="false">
                        <i class="icon i-briefcase"></i>
                        <span class="hide-menu">نمونه کارها</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="dashboard/comment" aria-expanded="false">
                        <i class="icon i-envelope"></i>
                        <span class="hide-menu">پیام های کاربران</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="dashboard/posts" aria-expanded="false">
                        <i class="icon i-pencil-square-o"></i>
                        <span class="hide-menu">مقالات</span>
                    </a>
                </li>
                <!--<li class="sidebar-item">-->
                    <!--<a class="sidebar-link waves-effect waves-dark sidebar-link" href="pages-profile.html" aria-expanded="false">-->
                        <!--<i class="icon i-user"></i>-->
                        <!--<span class="hide-menu">Profile</span>-->
                    <!--</a>-->
                <!--</li>-->

                <!--<li class="sidebar-item">-->
                    <!--<a class="sidebar-link waves-effect waves-dark sidebar-link" href="table-basic.html" aria-expanded="false">-->
                        <!--<i class="mdi mdi-border-none"></i>-->
                        <!--<span class="hide-menu">Table</span>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="sidebar-item">-->
                    <!--<a class="sidebar-link waves-effect waves-dark sidebar-link" href="i-material.html" aria-expanded="false">-->
                        <!--<i class="mdi mdi-face"></i>-->
                        <!--<span class="hide-menu">Icon</span>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="sidebar-item">-->
                    <!--<a class="sidebar-link waves-effect waves-dark sidebar-link" href="starter-kit.html" aria-expanded="false">-->
                        <!--<i class="mdi mdi-file"></i>-->
                        <!--<span class="hide-menu">Blank</span>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="sidebar-item">-->
                    <!--<a class="sidebar-link waves-effect waves-dark sidebar-link" href="error-404.html" aria-expanded="false">-->
                        <!--<i class="mdi mdi-alert-outline"></i>-->
                        <!--<span class="hide-menu">404</span>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->