.btn{
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  cursor: pointer;
  &:hover,&:focus{
    background: $secondary-color;
    color: set_text_color($secondary-color);
  }
}

.btn-dark{
  @extend .btn;
  background: darken($primary-color,50);
  color: #fff;
}
.btn-light{
  @extend .btn;
  background: lighten($primary-color,50);
  color: #333;
}